.jumbotron{
    max-width: 900px;
    margin: 2em auto;
    font-family: 'Cantarell', sans-serif;
    text-align: center;
}
h1{
     font-family: 'Fjalla One', sans-serif;
     text-align: center;
}   
body {
    margin: 50 px, 50 px, 50 px. 50 px;
}
header  {
    color: darkgreen;
}
.well{
    max-width: 900px;
    margin: auto;
    font-weight: bold;  
    margin-top: 2 px;
    text-align: center; 
}
.fa-refresh{
    font-size: 7em;
    color: blue;
    position: relative;
    margin-top: 1em;
    text-align: center;
}
footer {
    margin: auto;
    font-weight: bold;  
    text-align: center;    
}