.jumbotron{
    max-width: 900px;
    margin: 2em auto;
    font-family: 'Cantarell', sans-serif;
    text-align: center;
}
h1{
     font-family: 'Fjalla One', sans-serif;
     text-align: center;
}   

header  {
    text-transform: capitalize;
    color: darkgreen;
}
.well{
    font-weight: bold;   
}
.p{
   
}
.fa-refresh{
    font-size: 7em;
    color: blue;
    position: absolute;
    margin-top: 1em;
    text-align: center;
}